@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", serif;
    color: var(--grey-900);
}

:root {
    /* Colors */
    --grey-900: rgb(42, 65, 68);
    --grey-500: rgb(134, 162, 165);
    --white: rgb(255, 255, 255);
    --green-600: rgb(12, 125, 105);
    --green-600-hover: #063f35;
    --green-200: rgb(224, 241, 232);
    --red-error: rgb(215, 60, 60);

    /* Spacings */
    --1600: 128px;
    --500: 40px;
    --400: 32px;
    --300: 24px;
    --200: 16px;
    --150: 12px;
    --100: 8px;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

.hidden {
    display: none !important;
}

.red {
    margin-top: var(--100);
    color: var(--red-error) !important;
}

.red-input {
    border-color: var(--red-error) !important;
}

.checkbox-error {
    margin-top: -26px;
}

.success-message {
    position: absolute;
    background-color: var(--grey-900);
    padding: var(--300);
    top: 24px;
    right: auto;
    left: auto;
    width: 90%;
    max-width: 450px;
    border-radius: var(--150);
    display: flex;
    flex-direction: column;
    gap: var(--100);

    .title-wrapper {
        display: flex;
        gap: 8px;
    }

    p {
        color: var(--green-200);
    }
}

.heading {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1px;
    font-size: 32px;
}

.body-md-bold {
    color: var(--white);
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 18px;
    font-weight: 700;
}

.body-md-regular {
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 18px;
    font-weight: 400;
}

.body-sm {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    font-size: 16px;
}

.astrix {
    color: var(--green-600);
}

input[type="text"],
input[type="email"] {
    border: 1px solid var(--grey-500);
    color: var(--grey-900);
    background-color: var(--white);
    border-radius: var(--100);
    padding: var(--150) var(--300);
    outline: none;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover,
    &:focus {
        border-color: var(--green-600);
    }
}

textarea {
    border: 1px solid var(--grey-500);
    color: var(--grey-900);
    background-color: var(--white);
    border-radius: var(--100);
    padding: var(--150) var(--300);
    resize: none;
    min-height: 104px;
    outline: none;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover,
    &:focus {
        border-color: var(--green-600);
    }
}

input[type="checkbox"] {
    width: 18px;
    background-color: var(--green-600);
}

button {
    position: relative;
    border: 0;
    background-color: var(--green-600);
    color: var(--white);
    padding: 16px 40px;
    border-radius: var(--100);
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
        background-color: var(--green-600-hover);
    }
}

body {
    background-color: var(--green-200);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--400) var(--200);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--500);
}

.container {
    width: 90%;
    max-width: 1100px;
    padding: var(--500);
    border-radius: var(--200);
    display: flex;
    flex-direction: column;
    gap: var(--400);
    background-color: var(--white);
}

.fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--300);
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--200);
}

.first-name-container,
.last-name-container {
    display: flex;
    flex-direction: column;
    gap: var(--100);
    width: 100%;
    cursor: pointer;
}

.email-container {
    display: flex;
    flex-direction: column;
    gap: var(--100);
}

.query-type-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--200);
}

.radios-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--200);
}

.first-radio-button,
.second-radio-button {
    display: flex;
    gap: var(--150);
    align-items: center;
    border: 1px solid var(--grey-500);
    padding: var(--150) var(--300) var(--150) var(--300);
    border-radius: var(--100);
    width: 100%;

    &:hover {
        color: var(--green-600);
    }

    &:focus {
        color: var(--green-600);
        background-color: var(--green-200);
    }

    &:checked {
        border-color: var(--green-600);
    }
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: var(--100);
}

.checkbox-container {
    display: flex;
    gap: var(--200);
}

@media only screen and (min-width: 768px) {
    .name-wrapper {
        flex-direction: row;
    }

    .first-name-container,
    .last-name-container {
        width: 50%;
    }

    .radios-buttons {
        flex-direction: row;
    }

    .first-radio-button,
    .second-radio-button {
        width: 50%;
    }
}